{% extends 'base.html'%}

{% block content%}
{% if request.session.isHr %}
<div class="main-container">
    <div class="content-wrapper">
        <div class="content-section">
            <div class="content-section-title">Employees</div>

            <button class="save" onclick="document.location.href='{% url 'createEmployee' %}'">Create Employee</button>


            <table>
                <tr>
                    <th>Employee Name</th>
                    <th>Description</th>
                    <th>Position</th>
                    <th>Hiring date</th>
                </tr>
                {% for employee in employees %}
                <tr onclick="document.location.href='{% url 'editEmployee' employee.id %}'">
                    <td>{{employee.user.first_name}} {{employee.user.last_name}}</td>
                    <td>{{employee.description}}</td>
                    <td>{{employee.job_position}}</td>
                    <td>{{employee.hiring_date}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

    </div>
</div>
{% endif %}
{% endblock %}