<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Design by foolishdeveloper.com -->
    <title>Login page</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    ss
    <link rel="stylesheet" href="/static/assets/css/loginStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

</head>

<body>
<form method="post" action="">
    {% csrf_token %}
    <h3>Login Here</h3>
    <label for="username">Username</label>
    <input type="text" placeholder="Email or Phone" id="username" name="username">
    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password" name="password">
    <button type="submit">Log In</button>
    <a href="{% url 'signUp' %}" style="margin-top:10px;" class="sign-up">Sign Up</a>
</form>
</body>

</html>